<header>
    <mat-toolbar class="header">
      
        <input id="search" class="search-input"/>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
        <img [src]="imagePath" class="profile" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"/>
      </mat-toolbar>
</header>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>

<!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  <mat-icon>menu</mat-icon>
</button> -->