.header{
    height: 5rem;
    gap: 2rem;
    border-bottom: 0.1rem solid red;
    .search-input{
        height: 3rem;
        width: 25rem;
        margin-left: 10rem;
    }
    .profile {
       width: 4rem;
       height: 4rem;
       border-radius: 50%; 
    }
}

.example-spacer {
    flex: 1 1 auto;
}
