<app-header></app-header>
<main class="main-container">
    <app-sidebar class="side-bar"></app-sidebar>
    <div class="container">
        <gridster [options]="gridsterConfig" class="gridster">
            <gridster-item  [item]="item"  *ngFor="let item of gridsterItems; trackBy: trackPods">
                <app-pods></app-pods>
            </gridster-item>
        </gridster> 
    </div>
</main>
<app-footer></app-footer>

<ng-template #skeletonLoader>

</ng-template>

<ng-template #widgetsLoaded>
    
</ng-template>
<!--  -->
